{% extends "template.html" %}

{% block title %}Tracker{% endblock %}

{% block main %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 mb-3">
            <br>
            <h1>Hallo {{ user['name'] }}!</h1>
            <br><br>
            <h5>Drücke auf START, sobald Du mit der Arbeit beginnst.</h5>
            <form method="POST" action="{{ url_for('start', name=user['name']) }}">
                <button class="btn btn-outline-success" type="submit">START</button>
                </form>
                <br><hr><br>
            <h5>Sobald Du die Arbeit beendet hast, drücke auf ENDE.</h5>
            <form method="POST" action="{{ url_for('end', name=user['name']) }}">
                    <button class="btn btn-outline-success" type="submit">ENDE</button>
                    </form>
            <br><hr>
        </div>
        
    </div>
</div>
{% endblock %}